.hero {
    background-image: url('../../assets/images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 500px;
    h1 {
      color: var(--mainWhite);
    }
  }
  
  @media screen and (min-width: 992px) {
    .miniHero {
      background-position-y: -150px;
    }
  }